[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = git@github.com:bling/vim-airline.git
[submodule "bundle/emmet-vim"]
	path = bundle/emmet-vim
	url = git@github.com:mattn/emmet-vim.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git@github.com:scrooloose/syntastic.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "bundle/vim-jsx"]
	path = bundle/vim-jsx
	url = git@github.com:mxw/vim-jsx.git
[submodule "bundle/unite.vim"]
	path = bundle/unite.vim
	url = git@github.com:Shougo/unite.vim.git
[submodule "bundle/vim-commentary"]
	path = bundle/vim-commentary
	url = git@github.com:tpope/vim-commentary.git
[submodule "bundle/vim-vinegar"]
	path = bundle/vim-vinegar
	url = git@github.com:tpope/vim-vinegar.git
[submodule "bundle/gruvbox"]
	path = bundle/gruvbox
	url = git@github.com:morhetz/gruvbox.git
[submodule "bundle/vim-signify"]
	path = bundle/vim-signify
	url = git@github.com:mhinz/vim-signify.git
        ignore = dirty
[submodule "bundle/vim-indent-guides"]
	path = bundle/vim-indent-guides
	url = git@github.com:nathanaelkane/vim-indent-guides.git
[submodule "bundle/yajs.vim"]
	path = bundle/yajs.vim
	url = git@github.com:othree/yajs.vim.git
[submodule "bundle/es.next.syntax.vim"]
	path = bundle/es.next.syntax.vim
	url = git@github.com:othree/es.next.syntax.vim.git
[submodule "bundle/vim-mustache-handlebars"]
	path = bundle/vim-mustache-handlebars
	url = git@github.com:mustache/vim-mustache-handlebars.git
[submodule "bundle/ack.vim"]
	path = bundle/ack.vim
	url = git@github.com:mileszs/ack.vim.git
[submodule "bundle/auto-pairs"]
	path = bundle/auto-pairs
	url = git@github.com:jiangmiao/auto-pairs.git
[submodule "bundle/vim-node"]
	path = bundle/vim-node
	url = git@github.com:moll/vim-node.git
[submodule "bundle/vim-json"]
	path = bundle/vim-json
	url = git@github.com:elzr/vim-json.git
[submodule "bundle/vim-tmux-navigator"]
	path = bundle/vim-tmux-navigator
	url = git@github.com:christoomey/vim-tmux-navigator.git
[submodule "bundle/vim-startify"]
	path = bundle/vim-startify
	url = git@github.com:mhinz/vim-startify.git
[submodule "bundle/pangloss-vim-indent"]
	path = bundle/pangloss-vim-indent
	url = git@github.com:rschmukler/pangloss-vim-indent.git
[submodule "bundle/vim-flow"]
	path = bundle/vim-flow
	url = https://github.com/flowtype/vim-flow
[submodule "bundle/vim-characterize"]
	path = bundle/vim-characterize
	url = git@github.com:tpope/vim-characterize.git
[submodule "bundle/vim-eunuch"]
	path = bundle/vim-eunuch
	url = https://github.com/tpope/vim-eunuch
[submodule "bundle/limelight.vim"]
	path = bundle/limelight.vim
	url = https://github.com/junegunn/limelight.vim
[submodule "bundle/goyo.vim"]
	path = bundle/goyo.vim
	url = https://github.com/junegunn/goyo.vim
[submodule "bundle/vim-pug"]
	path = bundle/vim-pug
	url = git@github.com:digitaltoad/vim-pug.git
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule "bundle/nova-vim"]
	path = bundle/nova-vim
	url = https://github.com/trevordmiller/nova-vim
[submodule "bundle/vim-mucomplete"]
	path = bundle/vim-mucomplete
	url = https://github.com/lifepillar/vim-mucomplete
